.cart{
    margin-top: 100px;

}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,12px);
    text-align:center;
}   


.cart-items-item{
    margin:10px 0px;
    color: black;
    text-align: center;
    align-items: center;
}


.cart-items-item img{
    width: 100px;
    border-radius: 5px;
    margin: auto;
}

.cart hr{
    height:1px;
    background-color: #9e9d9d;
    border:none;
}


.cart-items-item .cross{
    cursor: pointer;
    font-weight:700;
    color:rgba(244, 18, 1, 0.73);
}


.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap:max(12vw,20px);
}

.cart-total{
    flex:1;
    display: flex;
    flex-direction:column;
    gap: 20px;
}


.cart-total-details{
    display:flex;
    flex-direction:column;
    gap:10px;
}


.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total-details hr{
    margin: 10px 0px;;
}

.cart-total button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw,200px);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

.cart-promocode{
    flex:1;
}

.cart-promocode p{
    color:#555;
}

.cart-promocode-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.cart-promocode-input button{
    width:max(10vw,150px);
    border: none;
    color: white;
    background-color: tomato;
    padding: 12px 5px;
    border-radius: 4px;
    cursor: pointer;
}



@media(max-width:750px){
    .cart-buttom{
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
    }
    .cart-promocode{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .cart-promocode-input{
        margin-top: 10px;
    }
}