.login-popup{
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100vw;
    height: 100vh; 
    background-color: #00000090;
    display: grid;
    place-items: center;
    z-index: 1;
}

.login-popup-container{ 
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap:25px;
    padding: 25px 30px;
    border-radius:8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title{
    display:flex;
    justify-content:space-between;
    align-items: center;
    color:black;
}


.login-popup img{
    width:16px;
    cursor: pointer;
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input{
    outline:none;
    padding:10px;
    border:1px solid #c9c9c9;
    border-radius: 5px;
}

.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color:tomato;
    cursor:pointer;
    font-size: 15px;
    color:white;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: -10px;
}

.login-popup-condition input{
    margin-top: 5px;;
}

.login-popup p span{
    color:tomato;
    font-weight: 500;
    cursor:pointer;
}